.jQalertbox {background:rgba(0,0,0,.4); display:none; height:100%; position:fixed; text-align:center; top:0; left:0; width:100%; z-index:9999; padding: 25px 0px; overflow-y: scroll; font-family: sans-serif,Verdana;}
.jQalertbox .helper{display:inline-block; height:100%; vertical-align:middle;}
.jQalertbox .outer {background-color: #ffffff; box-shadow: 10px 10px 60px #555; display: inline-block; height: auto; max-width: 95%; vertical-align: middle; min-width: 30%; position: relative; border-radius: 8px; padding: 15px 2%;}
.jQalertbox .jQalertbox_title{font-size:17px; padding: 10px 0px;}
.jQalertbox .jQalertbox_html{min-height: 50px;}
.jQalertbox_html .pop-icon{margin: 1.25em auto 1.875em;}
.jQalertbox_html .pop-icon img{margin-left: auto; margin-right: auto;}
.jQalertbox_html .pop-content{color: #545454; font-size: 1.125em; font-weight: 300; line-height: normal; text-align: center;}
.jQalertbox_footer .pop-footer{margin-top: 10px; padding: 6px 0px; /*border-top: 0.01em solid#e6e3e3;*/}
.jQalertbox_footer .p-btn{margin: 0px 10px; min-width: 52px; cursor: pointer; background-color: #f4f4f4; color: #444; border-color: #ddd; display: inline-block; margin-bottom: 0; font-weight: 400; text-align: center; vertical-align: middle; padding: 6px 12px; font-size: 14px; border-radius: 3px;     line-height: 1.42857143; border: 1px solid #ddd;}
.jQalertbox_footer .p-btn-info{background-color: #269abc; color:#fff; border-color: #00acd6;}
.jQalertbox .jQalertbox_close {background-color: #fff; border: 2px solid #a79c9c; border-radius: 50px; cursor: pointer; display: inline-block; font-family: arial; font-weight: bold; position: absolute; top: -10px; right: -10px; font-size: 25px; line-height: 27px; width: 30px; height: 30px; text-align: center;}
.jQalertbox .jQalertbox_close:hover {background-color: #ccc;}
#jQalertbox::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5;}
#jQalertbox::-webkit-scrollbar{width: 4px; background-color: #F5F5F5;}
#jQalertbox::-webkit-scrollbar-thumb{border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #555;}